<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.jmu.system.mapper.RoleMapper">

    <select id="selectRoleIdByAdminIdFromSysAdminRole" resultType="java.lang.Integer">
        select r_id
        from sys_admin_role
        where a_id = #{adminId}
    </select>

    <insert id="insertAdminIdAndRoleId">
        insert into sys_admin_role(a_id, r_id)
            value (#{adminId}, #{roleId})
    </insert>
</mapper>
