<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.jmu.sqlonlinejudge.mapper.SolutionMapper">
    <resultMap id="BaseResultMap" type="Solution">
        <!--@mbg.generated-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="pid" jdbcType="INTEGER" property="pid"/>
        <result column="source_code" jdbcType="VARCHAR" property="sourceCode"/>
        <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime"/>
        <result column="run_error" jdbcType="VARCHAR" property="runError"/>
        <result column="result" jdbcType="TINYINT" property="result"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `uid`, pid, source_code, submit_time, run_error, `result`
    </sql>
    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from solution
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from solution
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.edu.jmu.sqlonlinejudge.entity.Solution"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into solution (`uid`, pid, source_code,
        submit_time, run_error, `result`
        )
        values (#{uid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{sourceCode,jdbcType=VARCHAR},
        #{submitTime,jdbcType=TIMESTAMP}, #{runError,jdbcType=VARCHAR}, #{result,jdbcType=TINYINT}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="cn.edu.jmu.sqlonlinejudge.entity.Solution" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into solution
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                `uid`,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="sourceCode != null">
                source_code,
            </if>
            <if test="submitTime != null">
                submit_time,
            </if>
            <if test="runError != null">
                run_error,
            </if>
            <if test="result != null">
                `result`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=INTEGER},
            </if>
            <if test="sourceCode != null">
                #{sourceCode,jdbcType=VARCHAR},
            </if>
            <if test="submitTime != null">
                #{submitTime,jdbcType=TIMESTAMP},
            </if>
            <if test="runError != null">
                #{runError,jdbcType=VARCHAR},
            </if>
            <if test="result != null">
                #{result,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByIdSelective" parameterType="cn.edu.jmu.sqlonlinejudge.entity.Solution">
        <!--@mbg.generated-->
        update solution
        <set>
            <if test="uid != null">
                `uid` = #{uid,jdbcType=INTEGER},
            </if>
            <if test="pid != null">
                pid = #{pid,jdbcType=INTEGER},
            </if>
            <if test="sourceCode != null">
                source_code = #{sourceCode,jdbcType=VARCHAR},
            </if>
            <if test="submitTime != null">
                submit_time = #{submitTime,jdbcType=TIMESTAMP},
            </if>
            <if test="runError != null">
                run_error = #{runError,jdbcType=VARCHAR},
            </if>
            <if test="result != null">
                `result` = #{result,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateById" parameterType="cn.edu.jmu.sqlonlinejudge.entity.Solution">
        <!--@mbg.generated-->
        update solution
        set `uid` = #{uid,jdbcType=INTEGER},
        pid = #{pid,jdbcType=INTEGER},
        source_code = #{sourceCode,jdbcType=VARCHAR},
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
        run_error = #{runError,jdbcType=VARCHAR},
        `result` = #{result,jdbcType=TINYINT}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-06-22-->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from solution
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-06-24-->
    <select id="selectAllOrderBySubmitTimeDesc" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from solution
        order by submit_time desc
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-06-30-->
    <select id="countAll" resultType="java.lang.Integer">
        select count(id)
        from solution
    </select>
</mapper>