<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.jmu.sqlonlinejudge.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.edu.jmu.sqlonlinejudge.model.User">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="is_email_valid" jdbcType="BIT" property="isEmailValid" />
    <result column="submit" jdbcType="INTEGER" property="submit" />
    <result column="solved" jdbcType="INTEGER" property="solved" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="role" jdbcType="TINYINT" property="role" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, `password`, email, is_email_valid, submit, solved, avatar, `status`, 
    `role`
  </sql>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.edu.jmu.sqlonlinejudge.model.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user (username, `password`, email, 
      is_email_valid, submit, solved, 
      avatar, `status`, `role`
      )
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{isEmailValid,jdbcType=BIT}, #{submit,jdbcType=INTEGER}, #{solved,jdbcType=INTEGER}, 
      #{avatar,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{role,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.edu.jmu.sqlonlinejudge.model.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="isEmailValid != null">
        is_email_valid,
      </if>
      <if test="submit != null">
        submit,
      </if>
      <if test="solved != null">
        solved,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="role != null">
        `role`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="isEmailValid != null">
        #{isEmailValid,jdbcType=BIT},
      </if>
      <if test="submit != null">
        #{submit,jdbcType=INTEGER},
      </if>
      <if test="solved != null">
        #{solved,jdbcType=INTEGER},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="role != null">
        #{role,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="cn.edu.jmu.sqlonlinejudge.model.User">
    <!--@mbg.generated-->
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="isEmailValid != null">
        is_email_valid = #{isEmailValid,jdbcType=BIT},
      </if>
      <if test="submit != null">
        submit = #{submit,jdbcType=INTEGER},
      </if>
      <if test="solved != null">
        solved = #{solved,jdbcType=INTEGER},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=SMALLINT},
      </if>
      <if test="role != null">
        `role` = #{role,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateById" parameterType="cn.edu.jmu.sqlonlinejudge.model.User">
    <!--@mbg.generated-->
    update user
    set username = #{username,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      is_email_valid = #{isEmailValid,jdbcType=BIT},
      submit = #{submit,jdbcType=INTEGER},
      solved = #{solved,jdbcType=INTEGER},
      avatar = #{avatar,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=SMALLINT},
      `role` = #{role,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>