<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.jmu.sqlonlinejudge.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.edu.jmu.sqlonlinejudge.model.User">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="is_email_valid" jdbcType="BIT" property="isEmailValid" />
    <result column="submit" jdbcType="INTEGER" property="submit" />
    <result column="solved" jdbcType="INTEGER" property="solved" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="status" jdbcType="VARCHAR" property="status" typeHandler="cn.edu.jmu.sqlonlinejudge.handler.UniversalEnumHandler" />
    <result column="role" jdbcType="VARCHAR" property="role" typeHandler="cn.edu.jmu.sqlonlinejudge.handler.UniversalEnumHandler" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, `password`, email, is_email_valid, submit, solved, avatar, `status`, 
    `role`
  </sql>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
     update user
     set status = 0
     where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.edu.jmu.sqlonlinejudge.model.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="role != null">
        `role`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="isEmailValid != null">
        #{isEmailValid,jdbcType=BIT},
      </if>
      <if test="submit != null">
        #{submit,jdbcType=INTEGER},
      </if>
      <if test="solved != null">
        #{solved,jdbcType=INTEGER},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateById" parameterType="cn.edu.jmu.sqlonlinejudge.model.User">
    <!--@mbg.generated-->
    update user
    <set>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `user`
    where status = 1
    order by `id` desc
  </select>
  <select id="selectBySelective" parameterType="cn.edu.jmu.sqlonlinejudge.model.User" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    <where>
      <trim prefix="(" suffix=")" suffixOverrides="and">
        <if test="id != null">
          id like concat('%', #{id,jdbcType=INTEGER},'%') and
        </if>
        <if test="username != null">
          username like concat('%', #{username, jdbcType=VARCHAR} ,'%') and
        </if>
        <if test="email != null">
          email like concat('%', #{email, jdbcType=VARCHAR} ,'%')
        </if>
      </trim>
    </where>
    order by id desc
  </select>

<!--auto generated by MybatisCodeHelper on 2019-06-21-->
  <select id="verify" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user
    where username=#{username,jdbcType=VARCHAR} and `password`=#{password,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2019-06-23-->
  <select id="findByUsername" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where username=#{username,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2019-06-24-->
  <select id="selectAllOrderBySolvedDesc" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        order by solved desc
    </select>
</mapper>